# --- Residuos de Editores (Vim) ---
.*.swp[a-p]
.*.swo
.netrwhist
undo/
*.un~
*~
.*.un~
# --- Extensiones de Sistema ---
.DS_Store
Thumbs.db

# --- Carpetas de Desarrollo ---
.vscode/
node_modules/
.clasp.json
src/gas/appsscript.json
.index.html.un~
*.un~
