# --- Residuos de Editores (Vim) ---
.*.swp
.*.swo
*~
.netrwhist
undo/
*.un~
*~
.*.un
# --- Extensiones de Sistema ---
.DS_Store
Thumbs.db

# --- Carpetas de Desarrollo ---
.vscode/
node_modules/
.clasp.json
